<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
                <div class="form">
                    <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem label</label>
                            <input type="text" required="" placeholder="Problem label" value="" name="label" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem Statement</label>
                            <input type="text" required="" placeholder="Problem statement" value="" name="statement" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem Constraints</label>
                            <input type="text" required="" placeholder="Problem constraints" value="" name="constraints" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Input Format</label>
                            <input type="text" required="" placeholder="Input Format" value="" name="input-format" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Output Format</label>
                            <input type="text" required="" placeholder="Output Format" value="" name="output-format" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Sample Input</label>
                            <input type="text" required="" placeholder="Sample Input" value="" name="sample-input" class="txt">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Sample Input</label>
                            <input type="text" required="" placeholder="Sample Output" value="" name="sample-output" class="txt">
                        </div>
                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Difficulty Level
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tag
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Array</a>
                                    <a class="dropdown-item" href="#">LinkedList</a>
                                    <a class="dropdown-item" href="#">Dynamic Programming</a>
                                </div>
                            </div>
                        </div>

                        <textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea>
                        <input type="submit" value="submit" name="submit" class="txt2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>