<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body >
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong>Add </strong> Coding Problem <span></span></h4>
                <div class="form" >
                    <form  method="post" action='/problem/addcodingproblem' name="codingProblem">
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem label</label>
                            <textarea placeholder="Label" name="label" type="text" class="txt_3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem Statement</label>
                            <textarea placeholder="Statement" name="statement" type="text" class="txt_3"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Problem Constraints</label>
                            <textarea placeholder="Constraints" name="constraints" type="text" class="txt_3"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Input Format</label>
                            <textarea placeholder="Problem label" name="label" type="text" class="txt_3"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Output Format</label>
                            <textarea placeholder="Problem label" name="label" type="text" class="txt_3"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Sample Input</label>
                            <textarea placeholder="Problem label" name="label" type="text" class="txt_3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">Sample Input</label>
                            <textarea placeholder="Problem label" name="label" type="text" class="txt_3"></textarea>
                        </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Difficulty Level
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tag
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Array</a>
                                    <a class="dropdown-item" href="#">LinkedList</a>
                                    <a class="dropdown-item" href="#">Dynamic Programming</a>
                                </div>
                            </div>
                        <input type="submit" value="submit" name="submit" class="txt2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>