h1
{
    color: rgb(255, 255, 153);
}

label
{
   font-size: 20px;
    font-family: 'Viga', sans-serif;
    color: whitesmoke;

}

.smallStuff {

    height: 50px;
    width: 200px;
}

.mainBigDiv
{

    background-image: url("../images/backgroundAddProblem.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}